@import "bootstrap/scss/bootstrap";

body {
  width: 300px;
}

header {
  .container {
    padding: 0;
  }
  .navbar-brand {
    padding: 0 10px;
  }
  a {
    height: 40px;
    line-height: 40px;
  }
  nav img {
    height: 32px;
    width: 32px;
  }
}

section {
  margin-top: 15px;
  padding: 10px 15px;
}

section {
  h6 {
    padding: 5px;
  }
  .btn,
  select {
    margin-bottom: 15px;
    width: 100%;
  }
}

.popupRoutingOptions {
  display: none;
}
