.zdr-dl-count {
  color: #fff;
  line-height: 15px;
  border-radius: 50%;
  min-width: 15px;
  height: 15px;
  padding: 5px;
  text-align: center;
  background-color: #157efb;
  position: absolute;
  display: block;
  top: 5px;
  right: 5px;
  box-sizing: content-box !important;
}
.zdr-dl-btn {
  position: relative;
  display: inline-block;
  background: rgb(255, 255, 255);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 220, 222);
  border-radius: 5px;
  padding: 0px;
  cursor: pointer;
  width: 136px;
  height: 116px;
  text-decoration: none;
  overflow: hidden;
  box-sizing: border-box;
}
.zdr-dl-btn-container {
  margin-top: 16px;
  margin-right: 8px;
  margin-bottom: 8px;
  box-sizing: border-box;
}
